

<img src="~/Content/images/welcome.jpg" width="1550" height="310">

<br>
<br>
<hr>
<br>

<h3 style="text-align:center">We are a site that offers trendy products and essential pieces that every woman should have in her closet, and contains up-to-date content that creates an idea in your mind for stylish gifts you will receive. Be sure to follow us</h3>
<br>
<hr>

<div class="social">
    <a href="https://www.instagram.com/ieeeiku">
        <i class="fa fa-instagram" aria-hidden="true" style="font-size:65px; padding-top:10px"></i>
    </a>

    <a href="https://twitter.com/IKUedu?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
        <i class="fa fa-twitter" aria-hidden="true" style="font-size: 65px"></i>
    </a>

    <a href="https://tr-tr.facebook.com/IKUEDU/">
        <i class="fa fa-facebook" aria-hidden="true" style="font-size: 65px; "></i>
    </a>

</div>
<br />
<br />
<br />



