



<h1> OUTFIT COMBINATION</h1>

<div class="bella">
    <img src="~/Content/images/bella.jpg">
</div>

<div class="a_photo">
    <img src="~/Content/images/a.png">
</div>
<div class="frame">
    <div class="galery">


        <img src="~/Content/images/img3.jpg">
        <img src="~/Content/images/img6.jpg" height="470">
        <img src="~/Content/images/img7.png" height="470">
        <img src="~/Content/images/img9.jpg" height="470">



    </div>
</div>
<footer class="footer">
    <img style="margin-left:600px;padding-top:10px;" src="~/Content/images/iku.png" height="35" width="30" title="IKU">
    <a class="iku" href=https://www.iku.edu.tr>www.iku.edu.tr</a>
</footer>


