



<div class="cssFont_1">
    <h1 style="margin-top :100px">GIFTS</h1>
    <p> WOMAN WILL LOVE THESE GIFT IDEAS, NO MATTER YOUR BUDGET</p>
</div>

<div class="links">
    <img src="~/Content/images/parfume.png" height="400" width="284"><br>
    <a href="https://www.trendyol.com/chanel/coco-mademoiselle-edp-50-ml-kadin-parfum-3145891164206-p-734735?boutiqueId=603009&merchantId=130546">Parfume</a><br><br>

    <img src="~/Content/images/slipper.png" height="400" width="284"><br>
    <a href="https://www.oysho.com/tr/pi%CC%87jama-ev-gi%CC%87yi%CC%87mi%CC%87/t%C3%BCyl%C3%BC-%C5%9Feritli-terlik-c1010165535p116961312.html?colorId=103">Slipper</a><br><br>

    <img src="~/Content/images/candle.png" height="400" width="284"><br>
    <a href="https://www.trendyol.com/obbje/kakao-ve-krema-kokulu-mum-beton-saksili-dekoratif-soya-mumu-p-118578217?boutiqueId=614956&merchantId=455351">Candle</a><br><br>

    <img src="~/Content/images/purse.png" height="400" width="284"><br>
    <a href="https://www.trendyol.com/derimod/kadin-desenli-capraz-canta-p-346722643?boutiqueId=615880&merchantId=73&advertItems=eyJhZHZlcnRJZCI6IjViYjY3ODhkLWY1NDUtNGQyZS04ZjRiLTUyYjRkMDIzMmIzYyIsInNvcnRpbmdTY29yZSI6Ny4wNjM5MjEwMTQxNDQsImFkU2NvcmUiOjE0LjcxNjUwMjExMjgsImNwYyI6MC40OCwibWluQ3BjIjowLjAxLCJlQ3BjIjowLjQ3Njc3MTYxNDUzMzgxNzk0LCJhZHZlcnRTbG90Ijo3LCJvcmRlciI6MTgsInNlYXJjaFRlcm0iOiLDp2FudGEifQ==">Purse</a><br><br>

    <img src="~/Content/images/bracelet.png" height="400" width="284"><br>
    <a href="https://www.trendyol.com/shemark-jewellery/dorika-toplu-sade-sik-kelepce-p-212033329?boutiqueId=61&merchantId=462419">Bracelet</a><br><br>

    <img src="~/Content/images/earrings.png" height="400" width="284"><br>
    <a href="https://www.trendyol.com/jimmy-key/kadin-mavi-mine-dogal-tasli-kupe-p-388873940?boutiqueId=618636&merchantId=4272">Earrings</a><br><br>
</div>


