


<div class="row">

    <div class="col">
        <h1>FASHION <br> WEBSITE</h1>
        <p class="paragraph">
            TO PULL OFF ANY LOOK, WEAR IT WITH CONFIDENCE
        </p>

        <a href=@Url.Action("Gift","Home")>
            <button type="button"> GIFTS <img src="~/Content/images/warrow.png" /></button>
        </a>

    </div>

    <div class="col">
        <div class="cards">
            <div class="card card1">
                <div class="card-head">
                    <h5>Capsule Wardrobe</h5>

                </div>
                <div class="card-bottom">
                    <a href=@Url.Action("Capsule","Home") class="button">Details</a>
                </div>
            </div>

            <div class="card card2">
                <div class="card-head">
                    <h5>New In</h5>

                </div>
                <div class="card-bottom">
                    <a href=@Url.Action("NewIn","Home") class="button">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <img style="margin-left:600px;padding-top:10px;" src="~/Content/images/iku.png" height="35" width="30" title="IKU">
    <a class="iku" href=https://www.iku.edu.tr>www.iku.edu.tr</a>
</footer>
