


<section class="about1" id="about1">
    <div class="title1">
        <h2>TREND</h2>
    </div>
    <br>
    <hr>


    <div class="contentBx">
        <div class="content1">
            <h2>Tweed Suits</h2>
            <p>Double up on the classic with a tweed jacket that will add strength to any outfit. In particular, plaid tweed products are trending every year.</p>
        </div>
        <div class="image1">
            <img src="~/Content/images/kruvaze.jpg" class="cover" width="250" height="342">

        </div>
    </div>
</section>





<section class="about2" id="about2">



    <div class="contentBx2">
        <div class="content2">
            <h2>Animal Print</h2>
            <p>Satin, one of the indispensable parts of this season, is among the products that every woman should have in her closet. In general, animal printed products are one of the trends of this year.</p>
        </div>
        <div class="image1">
            <img src="~/Content/images/animal2.jpg" class="cover" width="250" height="342">

        </div>
    </div>
</section>





<section class="about3" id="about3">



    <div class="contentBx3">
        <div class="content3">
            <h2>Black Patent Knee High Boots</h2>
            <p>Shiny patent leather high boots are one of the highlights of this season.</p>
        </div>
        <div class="image1">
            <img src="~/Content/images/bot.jpg" class="cover" width="250" height="342">

        </div>
    </div>
</section>
<footer class="footer">
    <img style="margin-left:600px;padding-top:10px;" src="~/Content/images/iku.png" height="35" width="30" title="IKU">
    <a class="iku" href=https://www.iku.edu.tr>www.iku.edu.tr</a>
</footer>





